.info{
	margin-top: 25vh;
	margin-left: 30%;
	color: rgb(204, 214, 246);

}

.info a{
	color: rgb(100, 255, 218);
	text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap");

body {
  margin: 0 auto;
  font-family: "Gowun Batang", serif;
}

/* nav-bar */
a {
  text-decoration: none;
}

#ser-button {
  font-family: "Gowun Batang", serif;
}
.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.et-hero-tabs h1,
.et-slide h1 {
  font-size: 4.5rem;
  margin: 0;
}

.et-hero-tabs h3,
.et-slide h3 {
  font-size: 2.3rem;
  opacity: 0.8;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 999;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1.1em;
}

.et-hero-tab:hover {
  color: white;
  background: rgb(164 151 237 / 79%);
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: rgb(164 151 237);
  transition: left 0.3s ease;
}

.intro-service {
  z-index: 10;
  position: absolute;
  top: 5%;
}

/* @media (min-width: 800px) {

	  .et-hero-tabs h1,
	  .et-slide h1 {
		  font-size: 3rem;
	  }

	  .et-hero-tabs h3,
	  .et-slide h3 {
		  font-size: 1rem;
	  }

	  .et-hero-tab {
		  font-size: 1rem;
	  }
  } */

/* nav-bar end */

/* index */
.index-background {
  width: 100%;
  position: absolute;
  height: 100vh;
  background-color: #dfd6ff;
}

.index-gradient {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 500px;
  background: linear-gradient(
	180deg,
	white 0%,
	white 59px,
	rgba(255, 255, 255, 0) 100%
  );
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.4;
}

.intro {
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.4;
  z-index: 5;
}

.logoImg {
  display: inline-block;
}

.logoName {
  display: inline-block;
}

/* button hover */
button {
  background: rgb(82 0 213 / 81%);
  color: #fff;
  width: 25%;
  height: 55px;
  border: 0;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 13px;
  transition: 0.6s;
  overflow: hidden;
  z-index: 5;
}

button:focus {
  outline: 0;
}

button:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}

button:after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px) skewX(-15deg);
}

button:hover {
  background: rgb(164 151 237);
  cursor: pointer;
}

button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}

button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}

/* 서비스 신청서 작성*/
.form-container {
  width: 60%;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid #f6f6f6;
  padding-bottom: 20px;
  margin-bottom: 70px;
}

#service-form {
  width: 30%;
  height: 40px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 20px;
  font-family: "Gowun Batang", serif;
  background: rgb(82 0 213 / 81%);
  border: none;
  color: white;
}

#service-form:hover {
  background: rgb(164 151 237);
  cursor: pointer;
  transition: 0.7s;
}
.form-input {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: left;
}

#form-input-span {
  font-size: 1.1rem;
}

.form-input2 {
  border: none;
  float: left;
  width: 97%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 7px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-left: 10px;
}

.form-input2:focus {
  outline: 2px solid #d5d5d5;
}

/* 이미지 넣는 input */

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}
.file-upload-wrapper > button {
  font-family: "Gowun Batang", serif;
}
.file-upload-input {
  width: 40%;
  color: #000;
  padding: 11px 17px;
  border: none;
  border-radius: 7px 0px 0px 7px;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
  /* IE 9 Fix */
}

.file-upload-input:hover,
.file-upload-input:focus {
  outline: none;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.file-upload-button {
  width: 30%;
  height: calc(1.5em + 0.75rem + 2px);
  cursor: pointer;
  display: inline-block;
  color: #000;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
  border-radius: 0px 7px 7px 0px;
  margin-left: -1px;
  background-color: #e1e1e1;
  float: left;
  /* IE 9 Fix */
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.file-upload-button:hover {
  background-color: #dad1f9;
}

/* kakaotalk */
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);

.wrap {
  text-align: center;
  width: 70%;
  height: 50vh;
  margin: 0 auto;
  margin-top: 100px;
  border: 10px double rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.wrap h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 3em;
}

.wrap h2 strong {
  font-weight: bold;
  color: yellow;
}

.face {
  margin-left: 75px;
  margin-top: -50px;
  animation: face 3s ease infinite;
  transform: translate(50%, 0%);
  transform-origin: 50% 50%;
}

.right-ear,
.left-ear {
  display: inline-block;
  position: relative;
  animation: ear 2s ease-in-out 0s infinite;
}

.left-eye,
.right-eye {
  transition: all 0.5s;
  animation: lefteye 1s ease-in-out 1s infinite;
}

.left-eyebrow,
.right-eyebrow {
  animation: eybrow 2s linear infinite;
}

@keyframes lefteye {
  from,
  to {
	r: 6.649;
  }

  to {
	r: 5;
  }
}

@keyframes face {
  100% {
	transform: translate(-20%, 0) rotate(-10deg);
	opacity: 1;
  }
}

@keyframes ear {
  from,
  to {
	transform: scale(1);
	transform-origin: left bottom;
  }

  50% {
	transform: scale(0.9);
	transform-origin: left bottom;
  }
}

@keyframes eybrow {
  100% {
	stroke-width: 5;
	opacity: 0.5;
  }
}

.nose {
  animation: nose 3s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes nose {
  from,
  to {
	transform: scale(1.1);
  }

  50% {
	transform: scale(0.8);
  }
}

.q-container {
  text-align: left;
  width: 70%;
}

.question {
  padding: 15px 15px;
  font-size: 1.2em;
  background-color: #ddd;
  border-radius: 20px;
  margin-bottom: 10px;
}

.question:hover {
  background-color: #dad1f9;
  transition: 1s;
}

.answer {
  padding: 15px 15px;
  font-size: 1.2em;
  background-color: #ddd;
  border-radius: 20px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .et-hero-tabs-container2,
  .mobile-nav-button,
  .mobile-menu {
	display: none;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .et-hero-tabs-container {
	display: none;
  }

  .mobile-nav-button {
	position: fixed;
	margin: 2rem;
	left: 0;
	top: 0;
	z-index: 9999;
	cursor: pointer;
	width: 35px;
	height: 30px;
  }

  .mobile-nav-button .mobile-nav-button__line {
	width: 100%;
	height: 4px;
	background: #0e0e0e;
	position: relative;
	transition: 1s ease;
  }

  .mobile-nav-button .mobile-nav-button__line:nth-of-type(2) {
	margin: 0.5rem 0;
  }

  .mobile-nav-button .mobile-nav-button__line--1 {
	transform: rotate(45deg);
	top: 13px;
	position: absolute;
  }

  .mobile-nav-button .mobile-nav-button__line--2 {
	display: none;
  }

  .mobile-nav-button .mobile-nav-button__line--3 {
	transform: rotate(135deg);
	top: 13px;
	position: absolute;
  }

  .mobile-menu {
	display: block;
	max-width: 500px;
	width: 100%;
	right: -100%;
	height: 100vh;
	background: #d2c6ff;
	opacity: 0;
	position: fixed;
	z-index: 9998;
	transition: 0.6s ease;
	top: 0;
  }

  .mobile-menu ul {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
  }

  .mobile-menu ul li {
	list-style: none;
  }

  .mobile-menu ul li a {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 2.5rem;
	margin-bottom: 30px;
	font-weight: bold;
	overflow: hidden;
	position: relative;
  }

  .mobile-menu ul li a:after {
	content: "";
	background: #0e0e0e;
	width: 100%;
	height: 100%;
	position: absolute;
	right: -100%;
	top: 0;
	z-index: -1;
	transition: 0.4s ease;
  }

  .mobile-menu ul li a:hover {
	color: #fff;
  }

  .mobile-menu ul li a:hover:after {
	right: 0;
  }

  .mobile-menu--open {
	right: 0;
	opacity: 1;
  }

  #kakao {
	font-size: 1.7em;
  }

  .wrap {
	width: 100%;
  }

  .q-container {
	width: 90%;
  }
  .q-container div {
	font-size: 1em;
  }

  .form-container {
	width: 100%;
  }

  .file-upload-input {
	width: 50%;
  }

  .file-upload-button {
	font-size: 1em;
  }

  .et-slide h3 {
	font-size: 1.5rem;
  }

  .et-slide h2 {
	font-size: 1rem;
	padding: 0 20px;
  }

  #tab-flexbox > div {
	top: 0%;
  }

  .et-hero-tabs h1 {
	font-size: 2rem;
  }

  .et-hero-tabs h3 {
	font-size: 1.4rem;
  }
  .intro h3 {
	font-size: 2rem;
  }
  #ser-button {
	width: 60%;
	margin-top: 30px;
  }

  .nav-back{
    width:100%;
    height:90px;
    background-color: white;
    z-index:10000;
    position: fixed;
    top:0;
  }
}