/* @import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

.mobile-section{
    display:none;
}

@media (max-width:750px) {
    .et-hero-tabs{
        display: none;
    }

    .mobile-section {
        display:block;
        z-index: 11;
        margin: 0 auto;
        width: 100%;
        min-height: 568px;
        height:100%;
        margin: 0 auto;
        position: fixed;
        overflow: hidden;
        -webkit-transform: scale(1);
    }

    .menu-trigger,
    .close-trigger {
        position: absolute;
        top: 32px;
        right: 20px;
        display: block;
        width: 42px;
        height: 42px;
        cursor: pointer;
        z-index: 333;
    }

    .menu-trigger:hover .menu-trigger-bar:before,
    .close-trigger:hover .menu-trigger-bar:before {
        width: 100%;
    }

    .menu-trigger:hover .close-trigger-bar:before,
    .close-trigger:hover .close-trigger-bar:before {
        width: 100%;
    }

    .close-trigger {
        z-index:22;
        top: 42px;
    }

    .menu-trigger-bar {
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
        margin-bottom: 6px;
        transform: rotate(-45deg);
        position: relative;
    }

    .menu-trigger-bar:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .menu-trigger-bar.top {
        width: 50%;
    }

    .menu-trigger-bar.middle:before {
        left: auto;
        right: 0;
    }

    .menu-trigger-bar.bottom {
        width: 50%;
        margin-left: 50%;
    }

    .close-trigger-bar {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #222222;
        position: relative;
    }

    .close-trigger-bar:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .close-trigger-bar.left {
        transform: translateX(100px) translateY(-100px) rotate(-45deg);
    }

    .close-trigger-bar.right {
        transform: translateX(-100px) translateY(-100px) rotate(45deg);
        top: -3px;
    }

    .inner-container,
    .menu-container {
        position: absolute;
        height: 130%;
        width: 108%;
        left: -5%;
        top: -22%;
    }

    .inner-container {
        z-index: 20;
    }

    .menu-container {
        display: flex;
        align-items: center;
    }

    .menu {
        display: block;
        width: 100%;
        padding: 20%;
    }

    .menu li {
        text-align: left;
        display: block;
        padding: 15px 0;
    }

    .menu a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 10px 0;
        position: relative;
    }

    .menu a:hover:before {
        opacity: 1;
        transform: translateX(0px);
    }

    .menu a:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 18px;
        height: 4px;
        opacity: 0;
        background-color: #222222;
        transform: translateX(100px);
        transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .menu-bg {
        position: absolute;
        display: block;
        width: 200%;
        left: -53%;
        top: -25%;
        height: 40%;
        background-color: white;
    }

    .menu-bg.middle {
        top: 29%;
        width:230%;
        left: -53%;
        transform: rotate(-45deg) scaleY(0);
    }

    .menu-bg.top {
        left: -34%;
        top: 0;
        width:250%;
        height:50%;
        transform: rotate(-45deg) translateY(-152%);
    }

    .menu-bg.bottom {
        top: 105%;
        transform: rotate(-45deg) translateY(25%);
        left: -20%;
    }

} */

.menu{
    display:none;
}
@media (max-width: 750px) {
 /*
!!! This demo is being refactored !!!

-- add auto focus on the first item of the navigation when it is shown
-- replace .menu:not(.menu_activated) .menu__list{  display: none; } to hidden
-- use :is pseudo-class to simplify selectors 

*/
/*
=====
DEPENDENCES
=====
*/

/* The component will reset button browser styles */

.r-button{
    --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
    --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
    --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
    --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
    --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
    --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
    --uirButtonFontSize: var(--rButtonFontSize,  inherit);
    --uirButtonColor: var(--rButtonColor);
  
    background-color: var(--uirButtonBackgroundColor);
    padding: var(--uirButtonPadding);
  
    border-width: var(--uirButtonBorderWidth);
    border-style: var(--uirButtonBorderStyle);
    border-color: var(--uirButtonBorderColor);
  
    cursor: pointer;
  
    font-family: var(--uirButtonFontFamily);
    font-size: var(--uirButtonFontSize);
  }
  
  .r-button::-moz-focus-inner,
  .r-button[type="button"]::-moz-focus-inner,
  .r-button[type="reset"]::-moz-focus-inner,
  .r-button[type="submit"]::-moz-focus-inner {
    
    /* Remove the inner border and padding in Firefox. */
    
    border-style: none;
    padding: 0;
  }
  
  /* The component will reset browser's styles of link */
  
  .r-link{
      --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
      --uirLinkTextColor: var(--rLinkTextColor);
      --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  
      display: var(--uirLinkDisplay) !important;
      color: var(--uirLinkTextColor) !important;
      text-decoration: var(--uirLinkTextDecoration) !important;
  }
  
  /* The component will reset browser's styles of list */
  
  .r-list{
      --uirListPaddingLeft: var(--rListPaddingLeft, 0);
      --uirListMarginTop: var(--rListMarginTop, 0);
      --uirListMarginBottom: var(--rListMarginBottom, 0);
      --uirListListStyle: var(--rListListStyle, none);
  
      padding-left: var(--uirListPaddingLeft) !important;
      margin-top: var(--uirListMarginTop) !important;
      margin-bottom: var(--uirListMarginBottom) !important;
      list-style: var(--uirListListStyle) !important;
  }
  
  /* Basic styles of the hamburger component */
  
  .m-hamburger{  
    --uiHamburgerThickness: var(--hamburgerThickness, 4px);
  
    display: var(--hamburgerDisplay, inline-flex);
    width: var(--hamburgerWidth, 28px);
    height: var(--hamburgerHeight, 20px);
  
    position: relative;
  }
  
  .m-hamburger::before, 
  .m-hamburger::after, 
  .m-hamburger__label{
    width: 100%;
    height: var(--uiHamburgerThickness);
    border-radius: var(--hamburgerBorderRadius, 5px);
    background-color: var(--hamburgerBackgroundColor, currentColor);
  
    position: absolute;
    left: 0;
  }
  
  .m-hamburger::before, 
  .m-hamburger::after{
    content:"";
  }
  
  .m-hamburger::before{
    top: 0;
  }
  
  .m-hamburger::after{
    bottom: 0;
  }
  
  .m-hamburger__label{
    /* The calculation of middle hamburger button line position */
    
    top: calc(50% - calc(var(--uiHamburgerThickness) / 2));
  }
  
  /* helper to hide elements that are available only for screen readers. */
  
  .screen-reader{
    width: var(--screenReaderWidth, 1px) !important;
    height: var(--screenReaderHeight, 1px) !important;
    padding: var(--screenReaderPadding, 0) !important;
    border: var(--screenReaderBorder, none) !important;
  
    position: var(--screenReaderPosition, absolute) !important;
    clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
    overflow: var(--screenReaderOverflow, hidden) !important;
  }
  
  /*
  =====
  MENU STYLES
  =====
  */
  
  .menu{
    --uiMenuCircleSize: var(--menuCircleSize, 6.25rem);
    --uiMenuCircleOffset: var(--menuCircleOffset, 1rem);
    --uiMenuCircleHeight: calc(var(--uiMenuCircleSize) / 2);  
    --uiMenuCircleBackgroundColor: #656bc7eb;
  
    --uiMenuHamburgerWidth: var(--menuHamburgerWidth, 1.75rem);
    --uiMenuHamburgerHeight: var(--menuHamburgerHeight, 1.25rem);
    
    --rButtonPaddingTop: calc(var(--uiMenuCircleHeight) - var(--uiMenuHamburgerHeight) - var(--uiMenuCircleOffset));
    
    --hamburgerWidth: var(--uiMenuHamburgerWidth);
    --hamburgerHeight: var(--uiMenuHamburgerHeight);
    --hamburgerBackgroundColor: var(--menuHamburgerBackgroundColor, #fff);
  
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;  
  
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--menuZindex, 9998);
  }
  
  .menu__nav{
    box-sizing: border-box;
    width: 100%;
    height: 0;
  
    transition: opacity .2s ease-out;
    opacity: 0;
  
    display: flex;
    align-items: center;
    z-index: 2;
  }
  
  .menu__list{
    width: 100%;
    max-height: 100%;
  
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .menu__toggle{
    box-sizing: border-box;
    width: var(--uiMenuCircleSize);
    height: var(--uiMenuCircleHeight);
    flex: none;
  
    position: relative;
  }
  
  .menu__toggle::before{
    /*
    1. The font-size property is used to simplify calculations of the element's sizes and position
    2. The negative value for the bottom property need for hiding half of circle. 
    */
  
    content: "";
    width: 1em;
    height: 1em;
    font-size: var(--uiMenuCircleSize); /* 1 */
  
    background-color: var(--uiMenuCircleBackgroundColor);
    border-radius: 50%;
  
    position: absolute;
    bottom: -.5em; /* 2 */
    left: calc(50% - .5em);
    z-index: -1;
  
    will-change: width, height;
    transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98),
                height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
  }
  
  /* styles of hamburger's animation */
  
  .m-hamburger::before, 
  .m-hamburger::after, 
  .m-hamburger__label{
    transition-timing-function: ease;
    transition-duration: .15s;  
  }
  
  .m-hamburger::before, 
  .m-hamburger::after{
    transition-property: transform;
  }
  
  .m-hamburger__label{
    transition-property: transform, opacity;
  }
  
  /*
  =====
  MENU STATES
  =====
  */
  
  .menu__toggle:focus{
    outline: var(--menuHaburgerOutlineOWidth, 2px) solid var(--menuHaburgerOutlineColor);
    outline-offset: var(--menuHaburgerOutlineOffset, 5px);
  }
  
  .menu_activated{
    height: 100%;
  }
  
  .menu_activated .menu__nav{
    flex-grow: 1;
    opacity: 1;
  
    will-change: opacity;
    transition-duration: .2s;
    transition-delay: .3s;
  }
  
  .menu_activated .menu__toggle::before{
    width: 100vmax;
    height: 100vmax;
    transform: translate3d(-50vh, -50vh, 0) scale(5);
    transition-duration: 1s;
  }
  
  .menu:not(.menu_activated) .menu__list{
    display: none;
  }
  
  .menu_activated .m-hamburger::before{
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(45deg);
  }
  
  .menu_activated .m-hamburger::after{
    transform: translate3d(0, -50%, 0) rotate(135deg);
    top: 50%;
  }
  
  .menu_activated .m-hamburger__label{
    transform: rotate(-45deg) translate3d(-.285em,-.3em, 0);
    opacity: 0;
  }
  
  /*
  =====
  SETTINGS
  =====
  */
  
  :root{
    --colorWhite: #fff;
    --colorMain: #4557bb;
    --menuCircleBackgroundColor: var(--colorMain);
    --menuHamburgerBackgroundColor: var(--colorWhite);
    --menuHaburgerOutlineColor: var(--colorMain);
  }
  
  .menu_activated{
    --menuHaburgerOutlineColor: var(--colorWhite);
  }
  
  /*
  =====
  DEMO
  =====
  */
  
  .menu{
    display: flex;
    flex-direction: column;
    margin: 0;  
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
  }
  
  .page{
    max-width: 380px;
    padding: 1rem;
    margin: auto;  
    text-align: center;
  }
  
  .page__name{
    display: block;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .page__hint{
    display: block;
    line-height: 1.45;
    margin-top: 1rem;
  }
  
  .menu__group{
    --rLinkTextColor: var(--colorWhite);
  
    padding: .5rem 2rem; 
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
}