/* #tab-react {
    background-color: #2b0160
}

#tab-react h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 8px rgb(172 107 255 / 70%)
}

.q-container {
    text-align: left;
    width: 70%
} */